body {
  margin:auto;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

header {
  width:100%;
  height: 300px;
  text-align: center;
  background: url('../images/Manhattan_kansas.jpg');
  background-size: 100%;
  background-position: center;
  color: whitesmoke;
  margin-top: -35px;
} 
header { 
  font-size: 25px;
}

header button {
  width: 100px;
}

h1 {
  font-size: 70px;
}

.dark-mode {
  background-color: black;
  color: white;
}