form {
  min-width: 500px;
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 3px solid red;
  border-radius: 1em;
}
  
label {
  /* Uniform size & alignment */
  display: inline-block;
  justify-items: left;
  min-width: 100px;
  margin:10px;
}
  
input, text{
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 2px solid black;
}
  
input:focus, text:focus {
  /* Additional highlight for focused elements */
  border-color: chartreuse;
  justify-items: right;
}
  
text {
  /* Align multiline text fields with their labels */
  vertical-align: bottom;
  /* Provide space to type some text */
  height: 5em;

}
  
.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}
  
button {
  /* This extra margin represent roughly the same space as the space
  between the labels and their text fields */
  margin-left: 0.5em;
  width: 418px;
  background-color: #c5b4e3 ;

}
  