form {
  min-width: 500px;
    /* Form outline */
  padding: 1em;
  border: 3px solid purple;
  border-radius: 1em;
}

h2 {
  text-align: center;
}
  
label {
  /* Uniform size & alignment */
  display: inline-block;
  justify-items: left;
  min-width: 100px;
  margin:10px;
}
.container .input {
 
  margin:auto;
  padding-left: 50px;
}
  
input, text{
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 2px solid black;
  
}
  
input:focus, text:focus {
  /* Additional highlight for focused elements */
  border-color: chartreuse;
  justify-items: right;
  background-color: whitesmoke ;
}

input[type=submit] {
  margin-top: 1.5rem;
  margin-left: 88px;
  background-color: blueviolet;
 
  text-align: center;
}
  
text {
  /* Align multiline text fields with their labels */
  vertical-align: bottom;
  /* Provide space to type some text */
  height: 5em;
}
  
button {
  /* This extra margin represent roughly the same space as the space
  between the labels and their text fields */
  margin:auto;
}

.container {
  justify-content: center;

}
