form {
  min-width: 500px;
    /* Form outline */
  padding: 1em;
  border: 3px solid purple;
  border-radius: 1em;
}

h2 {
  text-align: center;
}
  
label {
  /* Uniform size & alignment */
  display: inline-block;
  justify-items: left;
  min-width: 100px;
  margin-left:10px;
}
.container .input {
 
  margin:auto;
  padding-left: 5%;
}
  
input, text{
  /* To make sure that all text fields have the same font settings
  By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 2px solid black;
  
}
  
input:focus, text:focus {
  /* Additional highlight for focused elements */
   justify-items: right;
  background-color: whitesmoke ;
}

button[id=submit] {
  margin-top: 1.5rem;
  background-color: purple;
  
  text-align: center;
}
  
text {
  /* Align multiline text fields with their labels */
  vertical-align: bottom;
  /* Provide space to type some text */
  height: 5em;
}

button {
  /* This extra margin represent roughly the same space as the space
  between the labels and their text fields */
  width: 300px;
  background-color: #c5b4e3 ;
 }


.container {
  justify-content: center;
}

