body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

header {
  width:100%;
  text-align: center;
  background: url('../images/Manhattan_kansas.jpg');
  background-size: 100%;
  background-position: center;
  color: white;
}
a {
  color: white;
} 

header a {  /* REMOVE THIS LATER */
  color: blueviolet;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h4, h6 {
  color: blueviolet;
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  height: 200px;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

article {
  text-align: left;
  display: inline-block;
  /* font-size: 30px; */
  
  margin: 0px auto;
  padding: 1em;
  border: 3px solid purple;
  border-radius: 1em;
}  
form {

  
}

section {
  max-width: 75%;
}

.dark-mode {
  background-color: black;
  color: white;
}



@media (max-width: 500px) {
  h1 {
      font-size: 36px;
  }
  li {
    display: block;
    padding: 5px;
  }
}